body {
  color: #222; /* Dark text */
}

a, .header-link, .orders-link, .cart-link, .product-rating-count {
  color: #222; /* Dark link color */
  text-decoration: none;
}

.main {
  margin-top: 60px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

@media (max-width: 2000px) {
  .products-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 1600px) {
  .products-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1300px) {
  .products-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 575px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}

.product-container {
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin-bottom: 20px;
  background-color: transparent;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  background-color: transparent;
}

.product-name,
.product-price,
.product-quantity-container,
.product-rating-container,
.product-rating-count {
  padding-left: 5px;
  padding-right: 5px;
  color: #222;
}

.product-name {
  height: auto;
  margin-bottom: 8px;
}

.product-rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 5px;
}

.product-rating-stars {
  width: 100px;
  margin-right: 6px;
}

.product-price {
  font-weight: 700;
  margin-bottom: 10px;
}

.product-quantity-container {
  margin-bottom: 17px;
}

.product-spacer {
  flex: 1;
}

.added-to-cart {
  color: rgb(6, 125, 98);
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  opacity: 0;
}

.added-to-cart-visible {
  opacity: 1;
  transition: opacity 0.3s;
}

.added-to-cart img {
  height: 20px;
  margin-right: 5px;
}

.add-to-cart-button {
  width: 100%;
  height: 40px; /* fixed height */
  padding: 8px;
  border-radius: 50px;
  background-color: #333; /* dark button */
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: 600;
  transition: none;
}

.add-to-cart-button:hover {
  background-color: #444;
  transform: none;
}

.disclaimer {
  background-color: #0b1e40;
  color: #ffffff;
  font-size: 14px;
  padding: 60px 20px;
  border-top: 1px solid #ddd;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* This is for learning purposes no transaction occur on this ecommerce */